*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header{
    background-color: skyblue;
    height: 30rem;
    display: flex;
    flex-direction: column;
}

nav{
    width: 80%;
    min-height: 10%;
    margin: 1rem auto;
    background-color: goldenrod;
    display: flex;
}

.logo-container{
    width: 20%;
    text-align: left;
    border: 2px dotted black;
    padding: 1rem;
}

.link-container{
    width: 60%;
    text-align: center;
    border: 2px dotted black;
    padding: 1rem;
}

.login-container{
    width: 20%;
    text-align: right;
    border: 2px dotted black;
    padding: 1rem;
}

.header-section{
    height: calc(89% - 10px);
    margin-bottom: 0.5rem;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-rosa{
    width: 50%;
    height: 80%;
    background-color: rgb(218, 134, 204);
    border: 2px dotted black;
}

.white-section{
    height: 35rem;
    display: flex;
}

.section-container{
    width: 80%;
    height: 80%;
    display: flex;
    margin: auto;
}

.grey-section{
        height: 35rem;
        display: flex;
        background-color: rgb(211,211,211);
}


.reverse{
    flex-direction: row-reverse;
}

.blue1{
    background-color: dodgerblue;
    width: 60%;
}

.pink2{
    background-color: pink;
    width: 40%;
}

.second-grey-section{
    height: 60rem;
    display: flex;
    background-color: rgb(211,211,211);
}

.green-container{
    background-color: rgb(34,139,34);
    width: 80%;
    height: 80%;
    margin: auto;
}

footer{
    height: 50rem;
    display: flex;
    background-color: rgb(35,39,42);
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    flex-direction: column;
}

.footer-container{
    width: 80%;
    height: 70%;
    display: flex;
    padding-bottom: 1.5rem;
}

.footer-box1{
    width: 30%;
    background-color: rgb(240,128,128);
    border: 2px dotted black;
}

.footer-box2{
    width: calc(70% / 4);
    background-color: rgb(35,178,170);
    border: 2px dotted white;
}

.lower-footer{
    height: 20%;
    border: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.lower-container{
    background-color: rgb(127,255,212);
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
    border: 2px dotted black;
    background-color: pink ;
    padding: 1rem;   
}

.button-footer{
    border: 2px dotted black;
    background-color: pink ;
    padding: 1rem;
}